body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
}
.container {
    max-width: 1146px;
    margin: auto;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}
.navbar-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.navbar-menu {
    margin-right: auto;
}
.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-item:not(:last-child) {
    padding-right: 14px;
}
.menu-item:first-child {
    padding-left: 22px;
}
.menu-link {
    text-decoration: none;
    color: inherit;
}
.button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}
.button-link {
    color: inherit;
    margin-right: 10px;
}
.button-primary {
    color: #fff;
    background: #256EEB;
    border-radius: 5px;
}
.search-panel {
    height: 50px;
    display: flex;
    background: #256EEB;
    border-radius: 5px;
    padding: 3px;
}
.search-input {
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding-right: 22px;
    padding-left: 22px;
}
.search-button {
    background: #256EEB;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}
.search-button-text {
    margin-left: 5px;
}

.page-title {
    margin-bottom: 25px;
}
.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 10px;
}
.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.card {
    margin-bottom: 20px;
    margin-right: 20px;
}
.card-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
    max-width: 195px;
    height: 38px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.card-link {
    text-decoration: none;
}
.card-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}
.card-text {
    color: #C4C4C4;
    margin-bottom: 4px;
    margin-top: 0;
}

.sidebar .page-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.service {
    margin-top: 25px;
}
.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.service-text {
    margin-top: 0;
    max-width: 231px;
}
.service-text:last-child {
    margin-bottom: 37px;
}

.footer {
    margin-top: 18px;
}
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
}
.footer-menu-item {
    margin-top: 5px;
}
.footer-text {
    color: #C4C4C4;
    margin-bottom: 0;
}
.footer-link {
    text-decoration-line: underline;
}
.footer-menu-link {
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #0A143A;
}

.main-single {
    display: flex;
    align-items: flex-start;
}
.content {
    max-width: 460px;
    margin-right: 30px;
}
.slider-image {
    width: 100%;
    border-radius: 10px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.mySwiper2 {
    width: 100%;
    border-radius: 10px;
}
.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 10px;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.content-text {
    font-size: 14px;
    line-height: 140%;
    color: #0A143A;
}
.single-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
    display: block;
}
.page-title {
    margin-top: 0;
    margin-bottom: 25px;
}
.author {
    min-width: 210px;
}
.author-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 30px;
}
.author-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.author-name {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}
.rating {
    margin-bottom: 5px;
}
.rating-counter {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
    margin-left: 10px;
}
.author-status {
    font-size: 12px;
    line-height: 14px;
}
.button-block {
    width: 100%;
    height: 54px;
    margin-bottom: 14px;
    border: none;
}
.button-success {
    background-color: #14B4BE;
    border-radius: 5px;
    color:#fff;
}
.menu-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: none;
}
.close-menu {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .card {
        width: 45%;
    }
    .card-image {
        width: 100%;
        height: 200px;
    }
    .content {
        width: 60%;
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .card-image {
        height: 150px;
    }
    .page-content-single {
        grid-template-columns: 12fr;
    }
    .single-sidebar a:first-child {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .card {
        width: 100%;
    }
    .page-content-index {
        grid-template-columns: 8fr 4fr;
    }
    .page-content-single {
        grid-template-columns: 12fr;
    }
    .main-single {
        width: 100%;
    }
    .content {
        width: 50%;
        margin-right: 10px;
    }
    .menu-button {
        display: block;
    }
    .close-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }
    .navbar-panel {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 9;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s, opacity 0.2s;
        transform: translateX(-100%);
        opacity: 0;
    }
    .is-open {
        transform: translateX(0%);
        opacity: 1;
    }
    .navbar-menu {
        margin-left: auto;
        margin-bottom: 20px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 0;
    }
    .menu-item:first-child {
        padding: 0;
    }
    .button-group {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .page-content-index {
        grid-template-columns: 12fr;
    }
    .card-image {
        height: 250px;
    }
    .card {
        margin-right: 0;
    }
    .search-button-text {
        display: none;
    }
    .main-single {
        flex-direction: column;
        max-width: 95vw;
        margin: auto;
    }
    .content {
        width: 90%;
        margin-right: 0;
    }
    .author {
        width: 90%;
    }
    .sidebar {
        width: 90%;
    }
}